
:root {
  --font-size-base: 16px;
  --font-size-h1: 2rem;
  --font-size-h2: 1.3rem;

  --color-bg: rgb(255, 255, 255);

  --color-text: rgb(38, 38, 38);

  --color-border: rgb(38, 38, 38);
  --color-light-border: rgb(222, 222, 222);

  --color-cq-blue: rgb(11, 92, 173);
  --color-cq-light-blue: rgb(46, 116, 189);
  // --color-cq-blue-bg: rgb(188, 203, 235);
  --color-cq-blue-bg: rgb(204, 216, 248);

  --color-cq-red: rgb(230, 0, 29);
  --color-cq-yellow-bg: rgb(255, 251, 205);

  --color-note: #ffeb3b;

  --max-width: 60rem;
}
