
header {
  & > div {
    max-width: var(--max-width);
    margin: 0 auto 0 auto;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: var(--font-size-h1);
    font-weight: bold;

    img {
      width: 4rem;
    }

    a, a:link, a:visited {
      color: var(--color-text);
      text-decoration: none;
    }
    a:hover, a:active {
      color: var(--color-cq-red);
    }
  }

  #main-nav {
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 0;
    background-color: #b30000;
  }
}

ul.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  max-width: var(--max-width);
  margin: 0 auto 0 auto;

  height: 2.75rem;
  padding-left: 3px;
  color: white;
  list-style-image: none;

  border-right: 1px solid white;


  & > li {
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    border-left: 1px solid white;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-decoration: none;
      color: white;
    }

    a, a:link, a:visited {
      color: white;
    }

    a:hover {
      background-color: #ccc !important;
      color: black !important;
    }

    a:active {
      background-color: #b30000 !important;
    }
  }
}

footer {
  max-width: 100%;
  background-color: #b30000;
  color: white;
  margin-top: 2rem;
  padding: 0.3rem 0.6rem;
}

footer > div {

  max-width: var(--max-width);
  margin: 0 auto 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}
