
section.content {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  max-width: var(--max-width);
  min-height: 80vh;
}

.content img {
  max-width: var(--max-width);
}

article {
  margin-bottom: 3em;
}


content.text-content > p, content.text-content > div {
  max-width: 50rem;
  /* margin-right: auto; */
}


.content table {
  border-collapse: collapse;
  th, td {
    text-align: left;
    vertical-align: top;
    padding: 0.2em 0.8em 0.2em 0;
  }
  table {
    border-top: 1px solid var(--color-border);
  }
  th {
    border-bottom: 1px solid var(--color-border);
  }
  td {
    border-bottom: 1px solid var(--color-light-border );
  }
}

.content .title {
  margin-top: 1em;
  margin-bottom: 1em;
  h1 { margin-top: 0; margin-bottom: 0; }
  h2 { margin-top: 0; margin-bottom: 0; }
  h3 { margin-top: 0; margin-bottom: 0; }
}
