
section.content {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  max-width: var(--max-width);
  min-height: 60vh;
}

.content img {
  min-width: 50%;
  max-width: var(--max-width);
}

article {
  margin-bottom: 3em;
}


content.text-content > p, content.text-content > div {
  max-width: 50rem;
  /* margin-right: auto; */
}


.content table {
  border-collapse: collapse;
  th, td {
    text-align: left;
    vertical-align: top;
    padding: 0.2em 0.8em 0.2em 0;
  }
  table {
    border-top: 1px solid var(--color-border);
  }
  th {
    border-bottom: 1px solid var(--color-border);
  }
  td {
    border-bottom: 1px solid var(--color-light-border );
  }
}


.content .title {
  margin-top: 1em;
  margin-bottom: 1em;
  h1 { margin-top: 0; margin-bottom: 0; }
  h2 { margin-top: 0; margin-bottom: 0; }
  h3 { margin-top: 0; margin-bottom: 0; }
}

.content .body {
  h1, h2 {
    margin-top: 2em;
  }
}

h1.light {
  font-weight: normal;
}


main section.title {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  max-width: var(--max-width);

  h1 {
    margin-bottom: 0;
    border-bottom: 2px solid black;
  }

  nav {
    ul {
      list-style-image: none;
      margin: 0;
      padding: 0;

      & > li {
        display: inline-block;
        // text-transform: uppercase;
        list-style-type: none;
      margin: 0 1rem 0 0;

        &.current {
          font-weight: bold;
        }
      }
    }
  }
}
