
section.content {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  max-width: var(--max-width);
  min-height: 80vh;
}

article {
  margin-bottom: 3em;
}


content.text-content > p, content.text-content > div {
  max-width: 50rem;
  /* margin-right: auto; */
}
