/* List of years in Home Page */
.layout-site-home {
  .title h1 {
    font-size: 3.6em;
  }

  #results h2 {
     display: inline-block;
  }

  #results ul {
     display: inline-block;
    // display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-image: none;
    margin: 1rem 0 -1rem 0;
    padding: 0;

    & > li {
     display: inline-block;
      list-style-type: none;

      margin-right: 1em;

      &:first-of-type {
        font-weight: bold;
        font-size: 120%;
      }
    }
  }

  #news h2 {
    margin-top: 0;
  }

  #news ul {
    list-style-image: none;
    padding: 0;
    li {
      list-style-type: none;
      margin-bottom: 0.5em;
    }
  }
}

.layout-results-home {
  ul#year-list {
    list-style-image: none;
    margin: 1rem 0 -1rem 0;
    padding: 0;

    li:first-of-type {
      font-weight: bold;
    }

    li {
      display: inline-block;
      width: 4rem;
      height: 2rem;

      margin-left: 1.5em;
      margin-right: 1.5em;
      margin-bottom: 2em;

      text-transform: uppercase;
      list-style-type: none;

      font-size: 2rem;

      &.current {
        font-weight: bold;
      }
    }
  }
}
