{{ define "head" }}
  <title>{{ .Params.SubTitle }} - DX Marathon Resources, Hints & Tips</title>
{{ end }}
{{ define "main" }}
  <section class="title">
    <h1 class="light">Resources, Hints & Tips: <b>{{ .Params.SubTitle }}</b></h1>

    <nav>
        <ul>
          <li><a href="../">Resources, Hints & Tips</a></li>
          {{ range .Parent.Pages }}
            {{ if (eq . $) }}
              <li class="current">{{ .Params.SubTitle }}</li>
            {{ else }}
              <li><a href="{{ .Permalink }}">{{ .Params.SubTitle }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
    </nav>
  </section>

  <section class='content'>

    <div class='body'>
      {{ .Content }}
    </div>

  </section>
{{ end }}
