<header>
  <div class='title'>
    <img src='{{ "img/cq-square.png" | absURL }}' alt="CQ" />
    DX Marathon
  </div>

  <nav id='main-nav'>
    <ul class='nav-menu'>
      <li><a href='/'>Home</a></li>
      <li><a href='/rules'>Rules</a></li>
      <li><a href='/results'>Results</a></li>
      <li><a href='/results/2021/records'>Records</a></li>
      <li><a href='/awards'>Awards</a></li>
      <li><a href='/resources'>Resources</a></li>
      <li><a href='/news'>News</a></li>
      <li><a href='/faqs'>FAQs</a></li>
    </ul>
  </nav>
</header>
