      <article class="news-preview">
        <a href="{{ .Permalink }}">
          <h2>{{ .Title }}</h2>
        </a>

        <p class="news-meta">
          {{ $lastmodstr := .Lastmod.Format "January 2 2006" }}
          {{ $datestr := .Date.Format "January 2 2006" }}
          {{ with $datestr }}
            Posted on {{ $datestr }}
          {{ end }}
          {{ if ne $datestr $lastmodstr  }}
            &nbsp; Last modified on {{ $lastmodstr  }}
          {{ end }}
          {{ with .Params.Author }}
            by {{.}}
          {{ end }}
        </p>

        <div class="news-entry">
          {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
              {{ .Params.subtitle }}
            </h3>
          {{ end }}

          {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />
          {{ end }}

          {{ if .Truncated }}
            {{ .Summary }}
            <a href="{{ .Permalink }}" >[read more]</a>
          {{ else }}
            {{ .Content }}
          {{ end }}
        </div>
      </article>
