      <article class="news-preview">
        <a href="{{ .Permalink }}">
          <h2>{{ .Title }}</h2>
        </a>

        <p class="news-meta">
          {{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
          {{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
          Posted on {{ $datestr }}
          {{ if ne $datestr $lastmodstr }}
            &nbsp; Last modified on {{ $lastmodstr  }}
          {{ end }}
        </p>

        <div class="mews-entry">
          {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
              {{ .Params.subtitle }}
            </h3>
          {{ end }}

          {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />
          {{ end }}

          {{ if .Truncated }}
            {{ .Summary }}
            <a href="{{ .Permalink }}" >[read more]</a>
          {{ else }}
            {{ .Content }}
          {{ end }}
        </div>
      </article>
