{{ define "main" }}

  {{ $news := .Site.GetPage "/news" }}
  {{ $results := .Site.GetPage "/results" }}

  <section class='content'>
    <div class='title'>
      {{ with .Params.PreTitle }}
        <h2>{{.}}</h2>
      {{ end }}
      {{ with .Title }}
        <h1>{{.}}</h1>
      {{ end }}
      {{ with .Params.SubTitle }}
        <h2>{{.}}</h2>
      {{ end }}
    </div>

    <div class="sidebar">
      <div id="news" class="aside">
        <h2>Latest News</h2>
        <ul>
        {{ range first 5 (where .Site.RegularPages "Section" "news") }}
          <li>{{ with .Date }}{{ .Format "Jan 2 2006" }}: {{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      </div>
    </div>

    <div class='body'>
      {{ .Content }}
    </div>

    <div id="results">
      {{ range first 1 $results.Pages }}
        <h2><a href="/results/{{ .Params.Year }}/records/">All Time Records</a></h2>
        •
        <h2><a href="/results/{{ .Params.Year }}/">{{ .Params.Year }} Results</a></h2>
      {{ end }}
        •
        <h2><a href="/results/">Past Years</a></h2>
    </div>

  </section>
{{ end }}
